APP_ENV=dev
DATABASE_URL_DEV=mysql+pymysql://face_user:change_me@127.0.0.1:3306/attendance_db
DATABASE_URL_PROD=mysql+pymysql://face_user:change_me@127.0.0.1:3306/attendance_db
LIVENESS_ADMIN_PASSWORD=change_me
